# Local environments
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Large/raw Kaggle data
data/raw/*.csv
data/raw/*.zip

# Model binaries generated during experimentation
models/*.pkl
models/*.joblib
models/*.cbm
models/*.txt

# OS files
.DS_Store
